*{
   padding: 0;
   margin: 0;
   margin: 0 auto;
}

.btn-primary{
   padding: 15px 35px;
   border-radius: 8px;
   background: #FF5400;
   color: #FFF;
   border: 0;
   cursor: pointer;
}
body{
   
   font-family: "Mulish", sans-serif;
   font-style: normal;
   width: 1440px;
   background: #FFF;
   margin: 0 auto;  
}
header{
   margin: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
header span{
   color: #FF5400;
}
.nav-title{
   display: flex;
   gap: 10px;
}
.nav-title h1{
   color: #131318;
   font-size: 2.5rem;  
   font-weight: 800;  
}
nav > ul{
   display: flex;

}
nav > ul > li {
   list-style: none;
   margin-left: 44px;
}

nav ul li a{
   text-decoration: none;
   color: #424247;
   text-align: center;
   font-size: 1.1rem;
   font-weight: 400;
}

.banner-sec{
   background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 1180px;
   height: 500px;
}
.banner-div{
   background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-text h1{
   text-align: center;
   color: #FFF;
   font-size: 3.8rem;
   font-weight: 800;
   padding: 100px 0px 20px 0px;
}
.banner-text p{
   color: #FFF;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   padding-bottom: 50px;
}
.form-div{
   display: flex;
   justify-content: center;
}
.form{
   display:inline-block;
   padding: 20px ;
   border-radius: 8px;
   background: rgba(255, 255, 255, 0.30);
   
}
.form input{
   padding: 15px;
   flex-shrink: 0;
   border-radius: 8px;
   background: #FFF;
   text-align: center;
   border: 0;
   margin-right: 20px;
}

/* Popular section Css */

.popular-sec{
   display: flex;
   padding: 50px;
   margin: 0px 40px;
}
.popular-text h1{
   color: #131318;
   font-size: 40px;
   font-weight: 800;
}
.popular-text p{
   color: rgba(19, 19, 24, 0.70);
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   margin: 30px 0px;
}
.popular-text ul{
   padding-left: 20px;
}
.popular-text ul li{
   color: rgba(19, 19, 24, 0.70);
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   margin: 20px;

}
.popular-img{
   margin-top: 10px;
}

/* place Css */
.choose-place-sec{
   width: 1140px;
   margin:0 auto;
   
}
.choose-place-sec h1{
   color: #131318;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
   margin: 10px 0px;
}
.choose-place-sec p{
   color: rgba(19, 19, 24, 0.70);
   text-align: center;
   font-size: 16px;;
   font-weight: 400;
   line-height: 26px;
   padding-bottom: 10px;
}
.img-2{
   display:grid;
   grid-template-columns: repeat(2 , 1fr);
   gap: 10px;
   padding-bottom: 10px;
   max-width: 1140px;
}
.img-2 img{
   width: 100%;
}
.img-3{
   gap: 10px;
}
.bd-2-img{
   display:flex; 
   gap: 10px;
   padding-top: 5px;
}
.bd-2-img img{
   width: 100%;
}




.why-choose{
  margin-top: 50px;
  max-width: 1140px;
  
}
.why-choose-us{
   display: grid;
   gap: 20px;
   grid-template-columns: repeat(2,1fr);
   row-gap: 20px;
}
.why-choose-us i{
   font-size: 50px;
   color: #FF5400;
   padding-bottom:10px ;
}
.why-choose > h1{
   color: #131318;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
}
.why-choose p{
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   padding: 15px 0px;
   text-align: justify;
}
.why-choose > p{
   text-align: center;
}
.choose-p{
   color: #5A5A5D;
   font-size: 16px;
   width: 90%;
}
.choose-h1{
   color: #131318;
   font-size: 24px;
   font-weight: 800;
   
}
.hotel-div{
   border-radius: 16px;
   border: 1px solid rgba(251, 181, 99, 0.20);
   background: rgba(251, 181, 99, 0.05);
   padding: 50px;
}
.price-div{
   border-radius: 16px;
   border: 1px solid rgba(41, 206, 246, 0.20);
   background: rgba(41, 206, 246, 0.05);
   padding: 50px;
   display: inline-block;
   margin-left: 200px;
   width: 100%;
   
}
.service-div{
   border-radius: 16px;
   border: 1px solid rgba(233, 68, 68, 0.20);
   background: rgba(233, 68, 68, 0.05);
   padding: 60px;
}


.newsletter-sec{
   display: flex;
   margin: 0 auto;
   margin-top: 30px;
   max-width: 1140px;
   gap: 20px;
}
.subscribe-form{
   border-radius: 16px;
   border: 1px solid #FF5400;
   padding: 50px;
   height: 50%;
  
}
.subscribe-form h1{
   color: #131318;
   font-size: 24px;
   font-weight: 800;
   margin-bottom: 15px;
   
}
.subscribe-form p{
   color: #5A5A5D;
   font-size: 16px;
   padding: 10px 0;
}
.subscribe-form input{
   width: 100%;
   margin-top: 30px; 
   border: 0;
   padding: 20px;
   border-radius: 8px;
   background: rgba(19, 19, 24, 0.05);
}
.subscribe-form button{
   margin-top: 30px;
   width: 107%;
   padding: 20px;
   
}

.img-text{
   position: relative;
   width: 300px;
   height: 100px;
   transform: rotate(-19.628deg);
   border-radius: 16px;
   background: #FF5400;
   padding: 20px;
   position: relative;
   top: -200px;
   right: -155px;
}
.img-text h5{
   color: #FFF;
   text-align: center;
   font-size: 1.5rem;

}
.img-text h3{
   color: #FFF;
   font-size: 2rem;
   font-weight: 800;
   text-align: center;
}

.footer{
   width: 1440px;
   height: 502px;
   background: rgba(19, 19, 24, 0.05);
}
.footer-title{
   display: flex;
   gap: 0;
   width: 30%;
   margin-top:110px ;
}
.footer-title h1{
   margin-left: -30px;
   
}
.footer-text{
   text-align: center;
   padding-top: 40px;
}
.footer-text p{
   margin: 20px 0;
   color: #5A5A5D;
   text-align: center;
   font-size: 1rem;
   line-height: 26px;
}
.icon{
   border-bottom: 1px solid rgba(19, 19, 24, 0.10); 
   padding-bottom: 100x;
   height: 90px;
   width: 870px;
   margin-bottom: 40px;
}
.icon ul{
   padding-top: 20px;
   display: flex;
   width: 20%;
   list-style: none;

}
.footer li a{
   color: #131318;
   font-size: 1.3rem;
}

/* Payment Css */

.payment-sec{
   background: rgba(233, 68, 68, 0.05);
   width: 1140px;
   padding: 0px;
   display: flex;
   margin-bottom: 30px;
}
.payment-sec h1{
   font-size: 2rem;
   text-align: center;
   margin: 30px;
}
.pay-container input{
   padding: 15px 25px;
   border-radius: 5px;
   border: 0;
   display: inline-block;
   width: 90%;
   margin-bottom: 30px;
}

.pay-img img{
  margin: 30px;
}

/* Responsive Css */
@media screen  and (max-width:576px) {
   body{
      max-width: 576px;
      margin: 0 auto;
   }
   header{
      flex-direction: column;
   }
  
   .nav-title h1{
      font-size: 1.5rem;  
 
   }
  nav > ul{
   display: grid;
   grid-template-columns: repeat(3 , 1fr);
   row-gap: 15px;
  }
   nav > ul > li {
     
      margin-left: 10px;
   }
                                                      
   .banner-sec{
      width: 335px;
      
      margin: 0 auto;                                           
   }
   
   .banner-text h1{
      font-size: 1.8rem;  
      padding:20px;
   }
   .banner-text p{  
      font-size: 14px;
      text-align:center;
      width: 90%;
      padding-bottom: 0;
   }
   .form-div{
      margin: 20px;
      padding-top: 0;
      padding-bottom: 30px;
   }
   .form input{
      width: 90%;
      margin-right: 20px;
      margin-bottom: 20px;
   }
   .btn-primary{
      width: 100%;
   }
  /* Poluler responsive */

   .popular-sec{
      flex-direction: column;
      padding: 50px;
      margin: 0px 40px;
   }
   
   .popular-text button{
      width: 50%;
      margin-bottom: 20px;
   }
   .popular-img{
      margin-top: 10px;
      
   }
   .popular-img img{
      width: 90%;
   }



   .choose-place-sec{
      max-width:576px;
      margin:0 auto;
      
   }
   .choose-place-sec h1{
      font-size: 24px;
   }
   .choose-place-sec p{   
      font-size: 14px;
      width: 70%;
      
   }
   .choose-place-sec img{
      width: 335px;
      height: 176px;
   }
   .img-2{
      grid-template-columns: repeat(1 , 1fr);
   }
    .img-3 img{
     margin-left: 120px;
   }
   
   .bd-2-img{
      flex-direction: column;
   }
   
   
   
   
   .why-choose{
     
     max-width: 576px;
     margin: 0 auto;
     padding-top: 20px;
     
   }
   .why-choose div{
      width: 70%;
      padding: 20px;
      margin: 0 auto;
   }
   .why-choose-us{
      grid-template-columns: repeat(1,1fr);
   }
   .why-choose > h1{
      font-size: 25px;
   }
   .why-choose p{  
      font-size: 14px;
      width: 70%;
   }
   .choose-p{
      font-size: 16px;
   }
   .choose-h1{
      font-size: 24px;   
   }
   .newsletter-sec{
      flex-direction: column;
      max-width: 576px;
   }
   .subscribe-form{
      width: 50%;
   }
   .img-div{
      width: 70%;
   }
   .img-div img{
      width: 100%;
   }
   .img-text{
      width: 30%;
      right: -70px;
      top: -155px;
      padding: 10px 50px;
   }
   .img-text h3{
      font-size: 30px;
   }
   .img-text h5{
      font-size: 20px;
   }


   .payment-sec{
      margin: 0 auto;
      width: 350px;
      padding: 30px;
   }
   .payment-sec h1{
      font-size: 24px;
      margin: 30px;
   }
   .pay-container input{
      width: 60%;
   }
   .pay-container button{
      width: 75%;
   }
   
   .pay-img img{
     margin: 30px;
   }

   .footer{
      width: 375px;
      background: rgba(19, 19, 24, 0.05);
      padding: 10px;
   }
   .footer-title{
      display: flex;
      gap: 10px;
      width: 100%;
      margin-top:0px;
   }
   .footer-title h1{
      margin-left: 5px;
      
   }
   .footer-text{
      padding-top: 40px;
   }
   .footer-text p{     
      font-size: 14px;
   }
   .icon{ 
      
      height: 70px;
      width: 350px;
      margin-bottom: 40px;
   }
   .icon ul{
      padding-top: 10px;
      width: 50%; 
   }
}